@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.img-container {
    border: 5px solid #ffffff;
    padding-top: 4%;
}
.sectionspacing {
    padding-top: 100px;
}
.pagebackground {
    background-color: hsl(212, 45%, 89%);
}

.curvedcorners {
    border-radius: 10px;
}

.center {
    text-align: center;
}

.cardsizing {
    max-width: 300px;
}

.heading {
    font-size: 16px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.body {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
.cardcontentstyling {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
}